$break-medium: 800px;
$break-large: 1200px;

.skills-container {
    background-color: #272E40;
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    padding: 80px 20px;
    justify-content: space-evenly;

    @media screen and (max-width: $break-medium) {
        grid-template-columns: auto;
      }
}

.skill-section {
    h1 {
        color: rgba($color: #FFF, $alpha: 0.4);
        text-align: center;
    }
    ul {
        list-style-type: none;
        
        li {
            color: #3F4A64;
            font-weight: 700;
            font-size: 1rem;
            padding: 0 10px;
        }
    }
}