// .navbar-light .navbar-toggler {
//   color: rgba(0, 0, 0, 0.5);
//   border-color: rgba(0, 0, 0, 0.0);
// }
// .navbar-toggler {
//   margin-top: 30px;
// }

button:focus {outline:0 !important;}

// .navbar {
  // padding: 1rem 1rem !important;
// }

.nav-item {
  -webkit-transition: all 0.5s; /* Safari */
  transition: all 0.5s;
}

.nav-item:hover {
    background: rgb(248, 248, 248);
    color: #272E3F !important;
}